body{
    background-color: #f8f9fa;
    color: #343a40;
}

.container{
    margin-top: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header img{
    margin-right: 20px;
    width: 20%;
    height: 150px;
}

h1{
    color: black;
    text-align: center;
    margin: 0;
    font-weight:bold;
    z-index: 2;
    background-color: white;
    padding: 0 20px;
}

.underline{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80%;
    background-color: #007bff;
    z-index: 1;
}

.row-3{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn-primary{
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger{
    margin-top: 20px;
    border-color: #dc3545;
}

.card{
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

.card-body {
    background-color: #ffffff;
}

.card.bg-primary {
    border: 2px solid #007bff;
}

.vip-user {
    background-color: #f8d7da;
}

.admin-user {
    background-color: #d4edda;
}

.refresh-button{
    text-align: right;
    margin-top: 20px;
}

.refresh-button a{
    margin-left: 10px;
}

#main1{
position: absolute;
left: 50px; top: 75px;
width: 180px;
}