* {
     margin: 0px;
     padding: 0px;
     list-style: none;
     text-decoration: none;
     color: black;
}

 .header {
     height: 110px;
     text-align: center;
     background-color: thistle;
     border-bottom: 1px solid #999;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

.header__logo h1 {
     font: bold 40px 'arial';
     padding-top: 14px;
     letter-spacing: 2px;
 }

.container {
    background-color: #ffffff;
    width: 600px;
    height: 370px;
    top: 100px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#submit-btn, .goBackButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px; /* 모서리를 둥글게 만듭니다 */
    cursor: pointer;
    margin-top: 120px;
}

#submit-btn {
    background-color: #38408E; /* 파란색 배경색 */
    color: #ffffff; /* 흰색 텍스트 색상 */
    border: none; /* 테두리 없음 */
}

.goBackButton {
    background-color: #38408E; /* 파란색 배경색 */
    color: #ffffff; /* 흰색 텍스트 색상 */
    text-decoration: none; /* 링크에 밑줄 없음 */
}


h2 {
    margin-bottom: 10px;
    grid-column: span 1 
}

input {
    width: 70%; 
    margin-top: 50px;
    box-sizing: border-box; /* 입력 칸 간에 간격을 추가합니다 */
    margin-bottom: -20px; /* 입력 칸 간에 간격을 늘립니다 */
    box-sizing: border-box; /* 너비와 높이에 border와 padding을 포함하도록 설정합니다 */
    padding: 10px;
    border: 2px solid #ddd; /* 밝은 회색 테두리 추가 */
    border-radius: 10px;
}


  .container2 {
    background-color: #38408E; 
    color: #ffffff; 
    text-decoration: none; 
    border-radius: 10px;
    padding: 10px; /* 내부 간격을 추가합니다 */
    width: 40%; /* 화면의 반만큼 너비를 설정합니다 */
    margin: 0 auto;
  }