<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <table class="table table-bordered table-striped" th:each="item : ${user}">
        <thead class="thead-dark">
        <tr>
            <th>HN</th>
            <th>Password</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Nick</th>
            <th>State</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" name="hn" th:value="${item.hn}" class="form-control"></td>
            <td><input type="text" name="pw" th:value="${item.pw}" class="form-control"></td>
            <td><input type="text" name="name" th:value="${item.name}" class="form-control"></td>
            <td>
                <select name="gender" id="gender" class="form-select">
                    <option th:selected="${item.gender == '남'}" value="남">남</option>
                    <option th:selected="${item.gender == '여'}" value="여">여</option>
                </select>
            </td>
            <td><input type="text" name="nick" th:value="${item.nick}" class="form-control"></td>
            <td><input type="text" name="state" th:value="${item.state}" class="form-control"></td>
            <td><button class="btn btn-primary" id="submit-btn">UPD</button></td>
            <td><button class="btn btn-danger" id="delete">DEL</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>