<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>명전 게임 해 듀오</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontReset.css">
    <link rel="stylesheet" href="/css/boardList.css">
</head>
<body>
<div id="mainContainer">
    <div id="mypage">
        <div id="mypage_title">
            <h1>My Page</h1>
        </div>
        <div id="mypage_mainMenu">
            <ul>
                <li>이름 : <span th:text="${user.name}"></span>님</li>
                <li>학번 : <span th:text="${user.hn}"></span></li>
                <li>닉네임 : <span th:text="${user.nick}"></span></li>
                <li>
                    <p>등급 : [
                        <span th:if="${user.state==1}">일반</span>
                        <span th:if="${user.state==2}">VIP</span>
                        <span th:if="${user.state==999}">관리자</span>
                        ]
                    </p>
                </li>
            </ul>
            <div id="mypage_topMenu">
                <ul>
                    <input type="hidden" th:value="${user.hn}" id="hn">
                    <li>
                        <a href="/mypage" id="createBtn">마이페이지</a>
                    </li>
                    <li>
                        <a href="/newBoard" id="createBtn">게시글 작성하기</a>
                    </li>
                    <li>
                        <a onclick="remove()" id="deleteBtn">게시글 삭제하기</a>
                    </li>
                    <li>
                        <a href="/logout" id="deleteBtn">로그아웃</a>
                    </li>
                    <li th:if="${user.state == 999}">
                        <a href="/admin" id="deleteBtn">관리자 페이지</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="boardContainer">
        <div id="header">
            <div id="headerImg">
                <a href="/boardList"><img src="/img/logo.png" alt="#"></a>
            </div>
            <h1 id="headerContents">명전 게임해 듀오</h1>
        </div>
        <div id="boardList">
            <p id="reloadArea">
                <span id="notice">※ 공지사항을 제외한 모든 글은 30분 이상 경과시 보이지 않습니다! ※</span>
                <input type="text" id="game" name="game" class="mb-2" placeholder="게임명을 입력해주세요.">
                <button id="searchBtn" class="mb-2">검색</button>
                <a href="/boardList" id="reload">새로고침</a>
            </p>
            <ul class="text-start">
                <!-- 관리자 게시글이 불러와지는 공간 -->
                <li th:each="item, iterStat : ${notice}">
                    <div th:if="${item.writer.state==999}" class="board_admin">
                        <input type="hidden" th:id="'adminCreatedAt_' + ${iterStat.index}" th:value="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}">
                        <p class="board_createAt">
                            <span th:id="'adminTimeAgo_' + ${iterStat.index}"></span>
                            <button th:if="${user.state==999}" class="deleteBtn" th:id="${item.writer.hn}" onclick="adminDeleteBoard(this.id)">글 삭제</button>
                        </p>
                        <p class="board_title">
                            <span th:text="${item.title}"></span>
                        </p>
                        <p class="board_game">
                            <span>게임/수:</span>
                            <span th:text="${item.game}"></span>
                            <span th:text="${item.person}"></span>
                            <span>명</span>
                        </p>
                        <p class="board_content">
                            <span th:text="${item.content}"></span>
                        </p>
                    </div>
                </li>
                <!-- 일반 유저와 VIP 유저의 게시글을 불러오는 공간 -->
                <li th:each="item, iterStat : ${boards}" th:if="${item.writer.state != 999}">
                    <div th:if="${item.writer.state==2}" class="board_vip">
                        <input type="hidden" th:id="'createdAt_' + ${iterStat.index}" th:value="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}">
                        <p class="board_createAt">
                            <span th:id="'timeAgo_' + ${iterStat.index}"> </span>
                            <button th:if="${user.state==999}" class="deleteBtn" th:id="${item.writer.hn}" onclick="adminDeleteBoard(this.id)">글 삭제</button>
                        </p>
                        <p class="board_title">
                            <span th:text="${item.title}"></span>
                        </p>
                        <p class="board_game">
                            <span>게임/수:</span>
                            <span th:text="${item.game}"></span>
                            <span th:text="${item.person}"></span>
                            <span>명</span>
                        </p>
                        <p class="board_content">
                            <span th:text="${item.content}"></span>
                        </p>
                        <p class="board_nick">
                            <span>인게임 닉네임 : </span><span th:text="${item.nick}"></span>
                        </p>
                        <p th:if="${user.state==2 or user.state==999}" class="board_vip_fnc">
                            <span>VIP 돋보기 효과 : </span>
                            <span th:text="${item.writer.gender}"></span>
                        </p>
                    </div>
                    <div th:if="${item.writer.state==1}" class="board">
                        <input type="hidden" th:id="'createdAt_' + ${iterStat.index}" th:value="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}">
                        <p class="board_createAt">
                            <span th:id="'timeAgo_' + ${iterStat.index}"> </span>
                            <button th:if="${user.state==999}" class="deleteBtn" th:id="${item.writer.hn}" onclick="adminDeleteBoard(this.id)">글 삭제</button>
                        </p>
                        <p class="board_title">
                            <span th:text="${item.title}"></span>
                        </p>
                        <p class="board_game">
                            <span>게임/수:</span>
                            <span th:text="${item.game}"></span>
                            <span th:text="${item.person}"></span>
                            <span>명</span>
                        </p>
                        <p class="board_content">
                            <span th:text="${item.content}"></span>
                        </p>
                        <p class="board_nick">
                            <span>인게임 닉네임 : </span><span th:text="${item.nick}"></span>
                        </p>
                        <p th:if="${user.state==2 or user.state==999}" class="board_vip_fnc">
                            <span>VIP 돋보기 효과 : </span>
                            <span th:text="${item.writer.gender}"></span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 게시글 몇분 전 -->
<script th:inline="javascript">
    var numBoards = /*[[${#lists.size(boards)}]]*/ 0;
    for (var i = 0; i < numBoards; i++) {
        try {
            var createdAt = document.getElementById('createdAt_' + i).value;
            var timeAgoElement = document.getElementById('timeAgo_' + i);
        } catch (error) {
            console.error('An error occurred:', error.message);
        }

        if (createdAt && timeAgoElement) {
            var now = new Date();
            var createdDate = new Date(createdAt.replace(/-/g, '/'));

            var timeDifference = now - createdDate;
            var minutesDifference = Math.floor(timeDifference / 1000 / 60);

            timeAgoElement.innerText = minutesDifference + '분 전';
        } else {
            console.error("createdAt 또는 timeAgoElement이 null 또는 유효하지 않습니다.");
        }
    }
</script>

<!-- 어드민 게시글 몇분 전 표시-->
<script th:inline="javascript">
    var numBoards = /*[[${#lists.size(notice)}]]*/ 0;
    for (var i = 0; i < numBoards; i++) {
        var createdAt = document.getElementById('adminCreatedAt_' + i).value;
        var timeAgoElement = document.getElementById('adminTimeAgo_' + i);

        if (createdAt && timeAgoElement) {
            var now = new Date();
            var createdDate = new Date(createdAt.replace(/-/g, '/'));

            var timeDifference = now - createdDate;
            var minutesDifference = Math.floor(timeDifference / 1000 / 60);

            timeAgoElement.innerText = minutesDifference + '분 전';
        } else {
            console.error("adminCreatedAt_ 또는 adminTimeAgo_ null 또는 유효하지 않습니다.");
        }
    }
</script>

<!-- 게시글 삭제 js -->
<script src="/js/boardDelete.js"></script>

<!-- 게시글 검색 js -->
<script src="/js/searchBoardList.js"></script>

</body>
</html>