<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>명전 게임 해 듀오</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/boardList.css">
</head>
<body>
<div class="container">
    <div class = "header">
        <img src="/img/logo.png" alt="Main Image">
        <h1> 명전 게임 해 듀오</h1>
    </div>
    <div>
        <div id="main1">
            <div class="row-3">
                <input type="hidden" th:value="${user.hn}" id="hn">
                <p>이름 : <span th:text="${user.name}"></span></p>
                <p>학번 : <span th:text="${user.hn}"></span></p>
                <p>닉네임 : <span th:text="${user.nick}"></span></p>
                <p>등급 : [
                    <span th:if="${user.state==1}">일반</span>
                    <span th:if="${user.state==2}">VIP</span>
                    <span th:if="${user.state==999}">관리자</span>
                    ]
                </p>
                <a th:if="${user.state == 999}" href="/admin" class="btn btn-primary">관리자페이지</a>
                <a href="/mypage" class="btn btn-primary">마이페이지</a>
                <a href="/newBoard" class="btn btn-primary">게시글 작성하기</a>
                <a href="/logout" class="btn btn-danger">로그아웃</a>
                <a class="btn btn-danger" onclick="remove()">내가 작성한 글 지우기</a>
            </div>
        </div>
        <div class="refresh-button">
            <a href="/boardList" class="btn btn-primary">새로고침</a>
        </div>
    </div>
    <div class="row">
        <div class="col-3" th:each="item, iterStat : ${boards}">

            <!--VIP 유저의 게시글-->
            <div th:if="${item.writer.state==2}" class="card bg-primary">
                <p class="card-header">제목 : <span th:text="${item.title}"></span> | <span th:id="'timeAgo_' + ${iterStat.index}"> </span></p>
                <div class="card-body">
                    <p class="card-text" th:if="${user.state==999}">
                        <button class="btn btn-danger" th:id="${item.writer.hn}" onclick="adminDeleteBoard(this.id)">게시글삭제</button>
                    </p>
                    <input type="hidden" th:id="'createdAt_' + ${iterStat.index}" th:value="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}">
                    <p class="card-text">내용 : <span th:text="${item.content}"></span></p>
                    <p class="card-text">게임 종류 : <span th:text="${item.game}"></span></p>
                    <p class="card-text">구하는 사람수 : <span th:text="${item.person}"></span></p>
                    <p class="card-text">인게임 닉네임 : <span th:text="${item.nick}"></span></p>
                    <p class="card-text">작성자 아이디 : <span th:text="${item.writer.hn}"></span></p>
                    <p class="card-text" th:if="${user.state==2 or user.state==999}">
                        <span>VIP 돋보기 효과 : </span>
                        <span th:text="${item.writer.gender}"></span>
                    </p>
                    <br>
                </div>
            </div>

            <!--일반 유저의 게시글-->
            <div th:unless="${item.writer.state==2}" class="card">
                <p class="card-header">제목 : <span th:text="${item.title}"></span> | <span th:id="'timeAgo_' + ${iterStat.index}"> </span></p>
                <div class="card-body">
                    <p class="card-text" th:if="${user.state==999}">
                        <button class="btn btn-danger" th:id="${item.writer.hn}" onclick="adminDeleteBoard(this.id)">게시글삭제</button>
                    </p>
                    <input type="hidden" th:id="'createdAt_' + ${iterStat.index}" th:value="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}">
                    <p class="card-text">내용 : <span th:text="${item.content}"></span></p>
                    <p class="card-text">게임 종류 : <span th:text="${item.game}"></span></p>
                    <p class="card-text">구하는 사람수 : <span th:text="${item.person}"></span></p>
                    <p class="card-text">인게임 닉네임 : <span th:text="${item.nick}"></span></p>
                    <p class="card-text">작성자 아이디 : <span th:text="${item.writer.hn}"></span></p>
                    <p class="card-text" th:if="${user.state==2 or user.state==999}">
                        <span>VIP 돋보기 효과 : </span>
                        <span th:text="${item.writer.gender}"></span>
                    </p>
                    <br>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- 게시글 몇분 전 -->
<script th:inline="javascript">
    var numBoards = /*[[${#lists.size(boards)}]]*/ 0;
    for (var i = 0; i < numBoards; i++) {
        var createdAt = document.getElementById('createdAt_' + i).value;
        var timeAgoElement = document.getElementById('timeAgo_' + i);

        if (createdAt && timeAgoElement) {
            var now = new Date();
            var createdDate = new Date(createdAt.replace(/-/g, '/'));

            var timeDifference = now - createdDate;
            var minutesDifference = Math.floor(timeDifference / 1000 / 60);

            timeAgoElement.innerText = minutesDifference + '분 전';
        } else {
            console.error("createdAt 또는 timeAgoElement이 null 또는 유효하지 않습니다.");
        }
    }
</script>

<!-- 게시글 삭제 js -->
<script src="/js/boardDelete.js"></script>

</body>
</html>